services:
  mosquitto:
    image: eclipse-mosquitto:latest
    volumes:
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./config/auth:/mosquitto/config/auth
      - ./config/certs:/mosquitto/config/certs
      - ./logs:/mosquitto/log
    # NOTE: the difference between port and expose is that port opens externally and expose only opens to the internal docker network
    expose: 
      - 8883
    environment:
      - TZ=EST
    networks:
      - mosquitto_network
    restart: always

  nginx:
    image: nginx:latest
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      - ./config/certs:/etc/nginx/ssl
      - ./logs:/var/log/nginx/
    ports:
      - 443:443
    depends_on:
      - mosquitto
    networks:
      - mosquitto_network
    restart: always

networks:
  mosquitto_network:
    driver: bridge
 